
body {
    background-repeat: no-repeat;
    background-size: cover;
    animation: changeBackground 300s infinite;
    min-height: 90vh;
  }

  @keyframes changeBackground {
    0% {
      background-image: url(./img1.jpg);
    }
    20% {
      background-image: url(./img2.jpg);
    }
    40% {
      background-image: url(./img3.jpg);
    }
    60% {
      background-image: url(./img4.jpg);
    }
    80% {
      background-image: url(./img5.jpg);
    }
    100% {
      background-image: url(./img1.jpg);
    }
  }

.TimeDate {
    justify-content: center;
    /* margin-top: 10%; */
}

  /* Example: Modify background-size for screens between 768px and 1024px */
  @media (min-width: 320px) and (min-width: 375px) and (min-width: 425px){
    body {
      background-size:cover;
    }
  }
